<h1> Dish Name: <%= @dish.name %> </h1>
<p> Dish Description: <%= @dish.description %> </p>

<section id="ingredients">
<h2> Ingredients: </h2>
<% @ingredients.each do |ingredient| %>
  <li>
  <%= ingredient.name %> 
  </li>
 <% end %>
 </section>

 <div id="chef_name">
 <h2> Chef: <%= @chef.name %> </h2>
 </div>

 <div id="calorie_count">
 <p> Calories: <%= @dish.calorie_count %> </p>
 </div>

